
<div style="height: 50%; background-color: beige;">
    <br> 
    <br> 
    &nbsp;<h2>Welcome, {{user.name}}!</h2>
    <br> 
    <br> 
</div>
<div style="height: 50%; ">
    <div class="row">
    <div class="col-md-5">
        <em class="fa fa-edit fa-2x"> Manage Account</em>
        <div>
            Manage Account lets you to manage your Account details such as Name, Contact No, Email, Date of Birth,.etc
        </div>
    </div>
    <div class="col-md-5">
        <em class="fa fa-sticky-note-o fa-2x"> Apply Loan</em>
        <div>
            Apply Loan lets you to view the loan details and apply loans (Education and Personal/Home).
        </div>
     </div>
    </div>
</div>